.el-container {
  position: relative;
  width: 100%;
  height: 100%;
  :deep(.el-header) {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 56px;
    padding: 0 48px;
    margin-bottom: 4px;
    background-color: #ffffff;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 6%);
    .el-menu {
      display: flex;
      flex: 1;
      justify-content: center;
      height: 100%;
      overflow: hidden;
      background-color: unset !important;
      border-bottom: unset !important;
      .el-sub-menu__hide-arrow {
        width: 20px;
        height: 55px;
      }
      .el-sub-menu__icon-arrow {
        display: none;
      }
      .el-menu-item {
        background-color: unset !important;
        border-bottom: unset !important;
      }
      .el-menu-item:hover {
        color: var(--el-menu-active-color);
      }
      .el-sub-menu__title {
        border-bottom: unset;
      }
      .is-active {
        &::before {
          width: 0;
        }
        .el-sub-menu__title {
          border-bottom: unset;
        }
      }
    }
  }

  @media screen and (width <=730px) {
    .logo {
      display: none !important;
    }
  }
}
